{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>

        <title> Taskmaster </title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon-large.png' %}" />
        <link rel="stylesheet" href="{% static 'default.css' %}">
        <link rel="stylesheet" href="{% static 'sidebar.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
        <meta name="author" content="Matthew Wood" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main id="main" class="main">
            <section id="landing-page" class="content-block uni-background">
                <div class="container" style="z-index: 100;">
                    <aside>
                      <div class="top">
                        <div class="logo">
                          <h2>Task master</h2>
                        <div>
                        <div class="close" id="close-btn">
                          <span class="material-icons-sharp">close</span>
                        </div>
                      </div>
              
                      <div class="sidebar">
                        <a href="/home/" class="active">
                          <span class="material-icons-sharp">person_outline</span>
                          <h3>Home</h3>
                        </a>
                        <a href="/game/">
                          <span class="material-icons-sharp">grid_view</span>
                          <h3>Game</h3>
                        </a>
                        <a href="/logout/">
                          <span class="material-icons-sharp">grid_view</span>
                          <h3>Logout</h3>
                        </a>
                      </div>
                    </aside>
                </div>

                <img src="{% static 'favicon-large.png' %}" class="large-logo center" draggable="false">

                <div class="button-container center" style="top: 70%">
                    <div id="create-account" class="user-button disable-select" onmousedown="dim(this.id)"
                                                                             onmouseup="undim(this.id)" 
                                                                             onmouseleave="undim(this.id)"
                                                                             onclick="window.location.href = '/login/'"> GET STARTED
                    </div>
                </div>
            </section>
            <section id="info" class="content-block" style="background-color: rgb(255, 134, 158); height: 100vh;"></section>
            <footer id="footer" class="footer"></footer>
        </main>

        <script src="{% static 'page-logic.js' %}"></script>
        <script src="{% static 'button-dim.js' %}"></script>
    </body>
</html>